body{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 16px;
}
header{
	background: url(../img/fon.jpg) no-repeat center top / cover;
	color: #fff;
	height: 100vh;

}
.container{
	margin: 0 auto;
	width: 1170px;
}
.logo{
	/*float: left;*/
	
}
h1, h2, h3, h4, h5, h6{
	padding:0;
	margin: 0;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	color: #000;

}
*{ box-sizing: border-box; }

.nav{
	display: flex;
	align-items: center;
	
	background: #fff;
	color: #000;
	width: 100%;
	height: 80px;
}
.wrapper{
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

ul,li{
	display: inline-block;
	padding: 0;
	margin: 0;
}

.menu{
		color: #000;
}
.menu li a{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;

	
}

.menu li{
	margin-right: 40px;

}
.main{
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: red;

	
}
.tel{

	font-size: 16px;
	text-decoration: none;
	margin-left: auto;
	/*float: right;*/
	
}
.phone{
	display: block;
	background: url(../img/icons8-phone.svg) no-repeat left top;
	width: 200px;	

}
h1{
	color: red;
	font-size: 14px;
	font-style: 'Montserrat', sans-serif;
	}
	.offer{
		margin-top: 138px;
		/*width: 600px;*/
		margin: 0 auto;
		display: flex;
		/*text-align: center;
		align-items: center;*/
		flex-direction: column;

	}
	p{
		color: #fff;
		width: 485px;
		text-align: center;
		margin: 138px auto 0;
		font-weight: bold;
		font-family: 'Helvetica', sans-serif;
		font-size: 24px;
		line-height: 1.6em;
	}
	.btn{
background: #DF0202;
color: #fff;
font-family: 'Montserrat', sans-serif;
/*display: block;*/
width: 133px;
padding: 19px 0;
text-align: center;
text-decoration: none;
height: 58px;

}
.form{
	margin-top: 74px;
	display: inline-flex;
	/*margin: 0 auto;
	width: 650px;*/
	justify-content: center;
	align-items: center;
}

.btn-form{
	border: 0;
	
	/*display: inline;
	margin-left: 11px;*/
}
.input{
width: 600px;
	border: 1px solid #bfb8d1;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	height: 56px;
	padding-left: 38px;
		
}
.first{
display: block;
	color: #fff;
	text-align: center;
	margin: 5px auto 0;
	font-family: 'Montserrat', sans-serif;
font-size: 16px;
line-height: 20px;
width: 600px;
font-weight: 100;

}

.benefits{
padding-top: 90px;
	padding-bottom: 160px;
/*	background: url('../img/fon2.jpg') no-repeat center top/ cover;*/
}
section{
	background: url('../img/fon2.jpg') no-repeat center top/ cover;
	/*margin-bottom: 56px;*/
			padding-bottom: 56px;
		padding-top: 50px;
}
.general{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
		
}

.separate{
	background: url('../img/icons8-rabbit.svg') no-repeat left top;
	padding-left: 50px;
	background-size: 37px;
	}
.border_top{
	width: 260px;
	position: relative;
}
.border_bottom{
	width: 260px;
	position: relative;
}
.border_bottom:after {
  content: "";
  position: absolute;
  left: 25px;
  right: 15px;
  bottom: 5px;
 margin-bottom: -38px;
  top: 70px;
  border-bottom: 3px solid red;
  border-left: 3px solid red;
  border-right: 3px solid red;
}
.border_top:after {
  content: "";
  position: absolute;
  margin-bottom: 80px;
  top: -40px;
  left: 25px;
  right: 15px;
  bottom: 5px;
  border-top: 3px solid red;
  border-left: 3px solid red;
  border-right: 3px solid red;
}
.paragraph{
	color: #000;
	font-size: 14px;
	font-style: 'Montserrat', sans-serif;
	width: 208px;
	margin: 0;
	padding: 0;
}
.separate-procent{
	background: url('../img/icons8-percent.svg') no-repeat left top;
}
.separate-time{
	
	background: url('../img/icons8-time.svg') no-repeat left top;
	/*background-size: 35px;*/
}
.separate-mail{
	
	background: url('../img/icons8-mailing.svg') no-repeat left top;
/*background-size: 37px;*/
}
/*.price{
		background: 
	}*/
	.title{
		color: #000;
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 56px;

	}
	.act{
		/*margin-top: 56px;*/
		/*margin-bottom: 100px;*/
		/*padding-bottom: 50px;*/
		padding-top: 50px;
		 
	}

.portfolio{
display: flex;
justify-content: space-between;

}
.img{
	width: 255px;
	height: 55px;
}
.wrap{
	
	display: flex;
 justify-content: space-between;
 margin-bottom: 100px;

}
.number{
	
	 color: white;
  background: red;
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.block{
	margin-top: -40px;
	/*padding-bottom: 40px;
	margin-bottom: 40px;*/
	/*padding-top: -30px;*/
}
.action{
	 /*margin: 0 auto;*/
	background: url('../img/icons8-search.svg') no-repeat left top;
	padding-left: 30px;
	text-align: center;
	margin-top: 40px;

}
.action-todo{
	background: url('../img/icons8-todo.svg') no-repeat left top;
	background-size: 66px;
	padding-right: 20px;
	

}
.action-wallet{
	background: url('../img/icons8-wallet.svg') no-repeat left top;
	padding-right: 20px;
}
.action-messages{
	background: url('../img/icons8-messages.svg') no-repeat left top;
	background-size: 58px;
}
.two {
	width: 270px;
	text-align: center;
	height: 60px;
	margin-left: 40px;
	margin-top: 5px;
}
.payment{
	padding-bottom: 160px;
}
footer{
	background: #313131;
color: white;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 30px;

}
h3{
margin: 0 auto;
text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
line-height: 17px;
padding-top: 30px;
font-weight: 300;
}


.menu_footer{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: normal;
}
.menu_footer li a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: underline;
	line-height: 20px;
	font-size: 12px;
	text-decoration-color: white;
	line-height: 1.6em;

}

.menu_footer li{
	margin-right: 40px;

}
h4{
	font-style: 12px;
	/*color: #fff;*/
	font-style: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.tel_footer{
	color: white;
	margin-top: 10px;
}
/*footer a{
	color: white;
}*/
/* 992px-1200px */
@media screen and (max-width: 1200px) {
	.container{
		width: 960px;
	}
	body{
		overflow:  hidden;
	}

	header{
		background: url(../img/fon3.jpg) no-repeat center top / cover;
	color: #fff;
	height: 100vh;
		  background-size: cover fixed;

	}


	.general{
		display: flex;
		flex-direction: column;
		/*margin-top: 20px;
		margin-bottom: 20px;*/
	}
	.adaptive{
		margin-top: 40px;

	}
	
	/*.price{
		flex-direction: column;
	}*/
	.portfolio{
		flex-direction: column;
		background-size: 50px;
	}
	/*.act{
		flex-direction: column;
	}*/
	
	/*.skill{
		width: auto;
		margin-bottom: 30px;
	}*/
}
/* 768px-992px */
/*@media screen and (max-width: 992px) {
	.container{
		width: 720px;
	}
	.wrapper{
		flex-direction: column;
	}
	.offer{
		width: 100%;
	}
	.intro{
		width: auto;
	}
	.desktop{
		display: block;
		width: 549px;
		margin: 72px auto 0;
	}
	.skills{
		flex-direction: column;
	}
	.skill{
		width: auto;
		margin-bottom: 30px;
	}


}
/* 576px-768px */
/*@media screen and (max-width: 768px) {
 .container{
		width: 540px;
	}
	.desktop{
	width: 100%;
	}
	.input{
		width: 100%;
	}
	.btn{
		margin-left: 0;
		margin-top: 15px;
		width: 100%;
	}
}
/* 0px-576px */
/*@media screen and (max-width: 576px){
.container{
		width: 90%;
	}
}**//*/