body{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 16px;
}
header{
	background: url(../img/fon.jpg) no-repeat center top / cover;
	color: #fff;
	height: 100vh;

}
.container{
	margin: 0 auto;
	width: 1170px;
}
.logo{
	/*float: left;*/
	
}
h1, h2, h3, h4, h5, h6{
	padding:0;
	margin: 0;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	color: #000;

}
*{ box-sizing: border-box; }

.nav{
	display: flex;
	align-items: center;
	
	background: #fff;
	color: #000;
	width: 100%;
	height: 80px;
}
.wrapper{
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

ul,li{
	display: inline-block;
	padding: 0;
	margin: 0;
}

.menu{
	/*display: flex;*/
	color: #000;
}
.menu li a{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;

	
}

.menu li{
	margin-right: 40px;

}
.main{
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: red;

	
}
.tel{

	font-size: 16px;
	text-decoration: none;
	margin-left: auto;
	/*float: right;*/
	
}
.phone{
	display: block;
	background: url(../img/icons8-phone.svg) no-repeat left top;
	width: 200px;	

}
h1{
	color: red;
	font-size: 14px;
	font-style: 'Montserrat', sans-serif;
	}
	.offer{
		margin-top: 138px;
		/*width: 600px;*/
		margin: 0 auto;
		display: flex;
		/*text-align: center;
		align-items: center;*/
		flex-direction: column;

	}
	p{
		color: #fff;
		width: 485px;
		text-align: center;
		margin: 138px auto 0;
		font-weight: bold;
		font-family: 'Helvetica', sans-serif;
		font-size: 24px;
		line-height: 1.6em;
	}
	.btn{
background: #DF0202;
color: #fff;
font-family: 'Montserrat', sans-serif;
/*display: block;*/
width: 133px;
padding: 19px 0;
text-align: center;
text-decoration: none;
height: 58px;

}
.form{
	margin-top: 74px;
	display: inline-flex;
	/*margin: 0 auto;
	width: 650px;*/
	justify-content: center;
	align-items: center;
}

.btn-form{
	border: 0;
	
	/*display: inline;
	margin-left: 11px;*/
}
.input{
width: 600px;
	border: 1px solid #bfb8d1;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	height: 56px;
	padding-left: 38px;
		
}
.first{
display: block;
	color: #fff;
	text-align: center;
	margin: 5px auto 0;
	font-family: 'Montserrat', sans-serif;
font-size: 16px;
line-height: 20px;
width: 600px;
font-weight: 100;

}

.benefits{
padding-top: 90px;
	padding-bottom: 160px;
/*	background: url('../img/fon2.jpg') no-repeat center top/ cover;*/
}
section{
	background: url('../img/fon2.jpg') no-repeat center top/ cover;
}
.general{
	display: flex;
	justify-content: space-between;
	/*margin-top: 50px;*/
		
}
.separate{
	background: url('../img/icons8-rabbit.svg') no-repeat left top;
	padding-left: 50px;
	background-size: 37px;
	/*border: solid 3px red;
	border-top: 100px;
	border-left: 4px;
	border-right: 4px;*/

	
	}
.border_top{
	width: 260px;
	position: relative;
}
.border_bottom{
	width: 260px;
	position: relative;
}
.border_bottom:after {
  content: "";
  position: absolute;
  left: 25px;
  right: 15px;
  bottom: 5px;
  /*margin-bottom: 20px;*/
 /* margin-top: 20px;*/
 margin-bottom: -30px;
  top: 50px;
  
  border-bottom: 3px solid red;
  border-left: 3px solid red;
  border-right: 3px solid red;
}
.border_top:after {
  content: "";
  position: absolute;
  margin-bottom: 80px;
  top: -40px;
  left: 25px;
  right: 15px;
  bottom: 5px;
  border-top: 3px solid red;
  border-left: 3px solid red;
  border-right: 3px solid red;
}
.paragraph{

	color: #000;
	font-size: 14px;
	font-style: 'Montserrat', sans-serif;
	width: 208px;
	margin: 0;
	padding: 0;


}
.separate-procent{

	/*width: 240px;*/
	background: url('../img/icons8-percent.svg') no-repeat left top;
	
}
.separate-time{
	/*width: 240px;*/
	background: url('../img/icons8-time.svg') no-repeat left top;
	
}
.separate-mail{
	/*width: 240px;*/
	background: url('../img/icons8-messages.svg') no-repeat left top;
background-size: 37px;
}
.price{
		background: 
	}
	.title{
		color: #000;
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 56px;

	}

.portfolio{
display: flex;
justify-content: space-between;
}
