body{
	font-family: 'Montserrat', sans-serif;
	color: #201b2d;
	font-style: 16px;
	padding: 0;
	margin: 0;
	
}
div, p, input, button, form, span, a, ul, li{
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	margin:0 ;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}


header{
background: url(../img/fon.jpg) no-repeat center top / cover;
height: 100vh;
	/*position: sticky;
  top: 0;*/
}


.title{
	margin-top: 138px;
	width: 485px;
}
/*p{

	color: #fff;
	font-size: 24px;
	line-height: 1.2em;
}*/
.container{
	width: 1110px;
	margin: 0 auto; 
}
.main-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;

}

.nav {
	display: flex;
	align-items: center;
	color: black;
	background: #fff;
	width: 100%;
	height: 120px;
}

a {
	text-decoration: none;
	color: #000;

}
 
 .phone{
 	float: right;
 	background: url('../img/icons8-phone-100 1.svg') no-repeat left top;
 	width: 180px;
 	margin-left: auto;

}
h3{
	padding-left: 168px;
	font-size: 14px;
	color: red;
	float: right;
}
ul,li{
	display: block;
	padding: 0;
	margin: 0;
}
/*.main-menu{

	padding-left: 178px;
}*/


.menu li a{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	
}
.menu li{
	margin-right: 40px;
	margin-left: 36px;

}
.tel{
	
	text-decoration: none;
	float: right;
	
}

footer{
	background: #313131;
}